<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b83b79753.js" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="/css/styles.css">
    <title>Music</title>
</head>
<body class="music">
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>music //</h1>
        <p>Direct links</p>
        <ul>
            <li><a href="#album">album</a></li>
            <li><a href="#organic">video: organic love</a></li>
            <li><a href="#street">video: street light</a></li>
        </ul>
        <section>
            <article>
                <h3>album TWIST IN MY REALITY</h3>
                <img src="/images/emilia-play-list.png" alt="play-list">
                <ol>
                    <li> <i class="fa-solid fa-play"></i> Organic Love | 2:40</li>
                    <li> <i class="fa-solid fa-play"></i> Twist In My Reality | 2:10</li>
                    <li> <i class="fa-solid fa-play"></i> Street Light | 3:28</li>
                    <li> <i class="fa-solid fa-play"></i> Love Don't Live Here Anymore | 3:49</li>
                </ol>
                <a href="#">Go top</a>
            </article>
            <article>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and filmed by NICOLAS TROY</p>
                <p>Produced by nicky heart</p>
                <p>Wix films ltd</p>
                <a href="#">GO TOP</a>
            </article>
            <article>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and filmed by NICOLAS TROY</p>
                <p>Produced by nicky heart</p>
                <p>Wix films ltd</p>
                <a href="#">GO TOP</a>
            </article>
        </section>
    </main>
</body>
</html>